.fireworks {
  background-image: url('../imgs/fireworks.gif');
}

.invis {
  display: none;
}

.radio {
  padding-left: 130px;
}

.crystal-ball {
  background-image: url('../imgs/crystal-ball.png');
  background-size: cover;
  margin: 0 auto;
  width: 300px;
  height: 300px;
}

.btn {
  display: block;
  margin: 25px auto;
  position: relative;
  top: 115px;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
  padding: 15px;
}

img.full-width {
  width: 100%;
}
